
// change the value and rename this file to '.env'

DB_USER = you'r-database-username
DB_DATABASE = you'r-database-name
DB_PASSWORD = you'r-database-password
DB_HOST = you'r-database-host
JWT_KEYS = you'r-jwt-secrets

CLOUD_KEY= you'r-cloudinary-key
CLOUD_SECRET= you'r-cloudinary-secret
CLOUD_NAME= you'r-cloudinary-name

REDIS_HOST= you'r-redis-host
REDIS_PORT= you'r-redis-port
REDIS_PASS= you'r-redis-password